#root {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #fff;
  color: #ff0000;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}
